/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* custum css */
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}
h1{
    text-align: center;
    font-size: 2rem;
    padding: 2rem 0;
}
strong{
    color: rgb(13, 109, 199);
}

form label {
    font-size: 2rem;
    line-height: 3;
  }
  form input {
    display: block;
    width: 99.6%;
    height: 45px;
    border: 1px solid rgba(128, 128, 128, 0.301);
    outline: 0;
    font-size: 1.5rem;
  }
  .btn {
    width: 100%;
    height: 55px;
    color: #ffffff;
    background-color: #4c6ef5;
    font-size: 2rem;
    margin-top: 3rem;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  .card {
    position: relative;
    border-radius: 6px;
    margin: 2rem;
    text-align: center;
    width: 43%;
    padding: 2rem;
    box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.5), 2px 2px 6px rgba(0, 0, 0, 0.5);
  }
  .title {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 1rem;
  }
  .author {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .card_btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    cursor: pointer;
    color: #ffffff;
    background-color: #4c6ef5;
    border: 0;
    outline: 0;
    margin-top: 1rem;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
  }
  .card_btn:hover {
    background-color: hotpink;
  }
  .cross {
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
    font-size: 2rem;
  }
  .image {
    margin-top: 2rem;
  }